{{> header}}

<main class="main__container--flex">
  {{> side_panel--admin}}
  {{> upcoming_events}}

</main>

<div class=" {{ activateForm }}" id="toggleView">
  <div class="overlay-form">
    <div class="close-btn" onclick="closeForm()">&times;</div>
    <h1>Registreer een nieuw orkest</h1>
    <form method="post" action="/addOrkestUser">
      {{#each inputs}}
      {{>form-input this}}
      {{/each}}
      <div class="register__buttons">
        <input type="submit" class="btn btn--register" value="Register">
        <input type="reset" class="btn btn--clear" value="Clear">
      </div>
    </form>
  </div>
</div>

<div class=" {{ eventForm }}" id="toggleEvent">
  <div class="overlay-form">
    <div class="close-btn" onclick="closeFormEvent()">&times;</div>
    <h1>Registreer een nieuw event</h1>
    <form method="post" action="/addEvent">
    <select name="orkests" id="orkestSelect">
        {{#each metaData}}
          <option value="{{user.id}}">{{orkestName}}</option>
        {{/each}}
    </select>
      {{#each inputs}}
      {{>form-input this}}
      {{/each}}
      <div class="register__buttons">
        <input type="submit" class="btn btn--register" value="Register">
        <input type="reset" class="btn btn--clear" value="Clear">
      </div>
    </form>
  </div>
</div>

<script>
  function toggleForm() {
    document.location.href = "/addOrkestUser";
  };

  function closeForm() {
    document.getElementById('toggleView').classList.remove('activateForm');
  }
    function toggleFormEvent() {
    document.location.href = "/addEvent";
  };

  function closeFormEvent() {
    document.getElementById('toggleEvent').classList.remove('eventForm');
  }
</script>

{{> footer}}