{{> header}}

<main class="main__container--flex">
  {{> side_panel--admin}}
  {{> upcoming_events}}

</main>

<div class="overlay-form">
  <div class="close-btn" onclick="toggleForm()">&times;</div>
  <h1>Registreer een nieuw orkest</h1>
  <form method="post" action="/register">
    {{#each inputs}}
    {{>form-input this}}
    {{/each}}
    <div class="footer">
      <input type="reset" class="btn btn-tertiary" value="Clear">
      <input type="submit" class="btn btn-primary" value="Register">
    </div>
  </form>
</div>

<script>
  function toggleForm() {
    document.body.classList.toggle('activateForm');
  };
</script>

{{> footer}}