{{> header}}

<main class="main__container--flex">
    {{> side_panel--admin}}
    {{> upcoming_events}}

</main>

<div class="overlay-form">
  <div class="close-btn" onclick="toggleForm()">&times;</div>
  <h1>Registreer een nieuw orkest</h1>
  <div class="form-element">
    <label for="orchestra-name">Orkest naam</label>
    <input type="text" id="orchestra-name">
  </div>

  <div class="form-element">
    <label for="email">E-mail</label>
    <input type="email" id="email">
  </div>

  <div class="form-element">
    <label for="password">Wachtwoord</label>
    <div class="input--password">
    <input type="password" id="password">
    <img class="hidden--icon" src="images/hidden.png" alt="">
    </div>
  </div>

  <div class="form-element">
    <label for="date">Datum van optreden</label>
    <input type="date" id="date">
  </div>

  <div class="form-element">
    <button class="button--submit">Toevoegen</button>
  </div>
</div>

<script>
    function toggleForm(){
  document.body.classList.toggle('activateForm');
};
</script>

{{> footer}}
