{{> header}}

<main class="main__container--flex">
  {{> side_panel--admin}}
  {{> upcoming_events}}

</main>

<div class="toggleView {{ activateForm }}">
  <div class="overlay-form">
    <div class="close-btn" onclick="closeForm()">&times;</div>
    <h1>Registreer een nieuw orkest</h1>
    <form method="post" action="/addOrkestUser">
      {{#each inputs}}
      {{>form-input this}}
      {{/each}}
      <div class="register__buttons">
        <input type="submit" class="btn btn--register" value="Register">
        <input type="reset" class="btn btn--clear" value="Clear">
      </div>
    </form>
  </div>
</div>

<div class="toggleView {{ activateFormEvent }}">
  <div class="overlay-form">
    <div class="close-btn" onclick="closeFormEvent()">&times;</div>
    <h1>Registreer een nieuw event</h1>
    <form method="post" action="/addEvent">

      <div class="register__buttons">
        <input type="submit" class="btn btn--register" value="Register">
        <input type="reset" class="btn btn--clear" value="Clear">
      </div>
    </form>
  </div>
</div>

<script>
  function toggleForm() {
    document.querySelector('.toggleView').classList.toggle('activateForm');
    setTimeout(function() {
      document.location.href = "/addOrkestUser";
    }, 1000);
  };

  function closeForm() {
    document.querySelector('.toggleView').classList.remove('activateForm');
  }

    function toggleFormEvent() {
    document.querySelector('.toggleView').classList.toggle('activateFormEvent');
    setTimeout(function() {
      document.location.href = "/addEvent";
    }, 1000);
  };

  function closeFormEvent() {
    document.querySelector('.toggleView').classList.remove('activateForm');
  }
</script>

{{> footer}}