<section class="panel--right">
    <h1>Jouw Configuratie</h1>
    <section class="configuration__item">
        <a href="">
            <img class="image--concert" src="images/concert--image.jpeg" alt="foto van een concert">
            <p>concert 1</p>
            <time>17/05</time>
            </a>
    </section>

    <section class="configuration__item">
        <a href="">
            <img class="image--concert" src="images/concert--image.jpeg" alt="foto van een concert">
            <p>concert 2</p>
            <time>19/05</time>
        </a>
    </section>

    <section class="configuration__item">
        <a href="">
            <img class="image--concert" src="images/concert--image.jpeg" alt="foto van een concert">
            <p>concert 3</p>
            <time>20/05</time>
        </a>
    </section>
</section>