<article class="container--login">
    <img class="logo--login" src="images/bijloke_logo--red.png" alt="">
    <h1>Login</h1>
    <div class="test">
        <label for="email">E-mail</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <a href="#">Wachtwoord vergeten</a>
    <button class="">Inloggen</button>
    </div>
</article>