<article class="container--login">
    <img class="logo--login" src="images/bijloke_logo--red.png" alt="">
    <section class="container__fields">
    <h1>Login</h1>
        <section class="container--email">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email">
        </section>

        <section class="container--password"></section>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </section>
        <a href="#">Wachtwoord vergeten</a>
        <button class="button--login">Inloggen</button>
        </section>
    </section>
</article>