<footer>
  <section class='footer__container'>
    <div class='contact__container'>
      <h2>Hulp nodig?</h2>
      <button class='button--contact'>Contacteer ons</button>
    </div>
    <span class='footer__title'>@bijloke</span>
    <div class="contact__container">
      <h2>Volg ons</h2>
      <div class="socials">
        <a href='https://www.facebook.com/debijloke/'><img
            class='socialmedia--icon'
            src='images/facebook.png'
            alt='link naar de facebook van bijloke'
          /></a>
        <a href='https://www.instagram.com/debijloke/'><img
            class='socialmedia--icon'
            src='images/instagram.png'
            alt='link naar de instagram van bijloke'
          /></a>
        <a href='https://twitter.com/debijloke/'><img
            class='socialmedia--icon'
            src='images/twitter.png'
            alt='link naar de twitter van bijloke'
          /></a>
      </div>
    </div>
  </section>

  <p class='footer__reference'>Developed by Jonas De Groote, Sten Hullebroeck en
    Glen Meganck</p>
</footer>