<header>
    <nav>
        <a href="/"><img class="homelogo" src="images/bijloke_logo--red.png" alt="bijloke_logo--rood"></a>
        <form action="/logout" class="logout" method="post">
            <button class="button--logout">Uitloggen</button>
        </form>
    </nav>
</header>