<header>
    <nav>
        <a href="#"><img class="homelogo" src="images/bijloke_logo--red.png" alt="bijloke_logo--rood"></a>
        <button class="button--logout">Uitloggen</button>
    </nav>
</header>