<article class="container--inventory">
  <div class="button--back">
    <a href="#"><img
        class="image--back"
        src="images/back-button.png"
        alt=""
      /></a>
    <h2>Ga naar home</h2>
  </div>

  <h1>Inventaris</h1>
  <section class="inventory__filter">
    <ul class="pills">
      <li>stoelen</li>
      <li>instrumenten</li>
      <li>pupiters</li>
      <li>podiumelementen</li>
    </ul>
    <div class="inventory__search">
      <input class="searchbar" type="search" name="search" id="search" />
      <button class="button--add">Add+</button>
    </div>
  </section>

  <section class="inventory">
    <div class="inventory_item">
      <img class="item__image" src="images/orkeststoel.jpg" alt="" />
      <p>stoelen</p>
      <sub>66x</sub>
      <button class="button--edit">edit</button>
    </div>

    <div class="inventory_item">
      <img class="item__image" src="images/orkeststoel.jpg" alt="" />
      <p>instrumenten</p>
      <sub>66x</sub>
      <button class="button--edit">edit</button>
    </div>

    <div class="inventory_item">
      <img class="item__image" src="images/orkeststoel.jpg" alt="" />
      <p>pupiters</p>
      <sub>66x</sub>
      <button class="button--edit">edit</button>
    </div>

    <div class="inventory_item">
      <img class="item__image" src="images/orkeststoel.jpg" alt="" />
      <p>podiumelementen</p>
      <sub>66x</sub>
      <button class="button--edit">edit</button>
    </div>
  </section>
</article>