<section class='sidepanel'>
  <h1>Get Started</h1>
  <ul>
    <li><a href='/planner'><img
          class='list__icon'
          src='images/files.png'
          alt='icoon van bestanden'
        />Podiumplan aanmaken</a></li>
    <li><a href='/inventory'><img
          class='list__icon'
          src='images/toolbox.png'
          alt='icoon van gereedschapskist'
        />Inventaris bekijken</a></li>
  </ul>
</section>