<section class='sidepanel'>
  <h1>Get Started</h1>
  <ul>
    <li><a href='/planner'><img
          class='list__icon'
          src='images/files.png'
          alt='icoon van bestanden'
        />Podiumplan aanmaken</a></li>
    <li><a href='/inventory'><img
          class='list__icon'
          src='images/toolbox.png'
          alt='icoon van gereedschapskist'
        />Inventaris bekijken</a></li>
    <li><a onclick='toggleForm()' href="#"><img
          class='list__icon'
          src='images/add-user.png'
          alt='icoon van gereedschapskist'
        />Registreren van user</a></li>
    <li><a onclick='toggleFormEvent()' href="#">Event toevoegen</a></li>
  </ul>
</section>