<section class="panel--right">
<h1>Opkomende optredens</h1>
<section class="optreden">
    <time>17/05</time>
    <p>Orkestnaam</p>
    <button class="btn--primary button--view">View</button>
</section>

<section class="optreden">
    <time>20/05</time>
    <p>Orkestnaam</p>
    <button class="btn--primary button--view">View</button>
</section>

<section class="optreden">
    <time>22/05</time>
    <p>Orkestnaam</p>
    <button class="btn--primary button--view">View</button>
</section>
</section>