@import url('./login.css');
@import url('./planner.css');

@font-face {
  font-family: 'saelic-light';
  src: url('../fonts/sailec\ Light.woff2') format('woff2'),
    url('../fonts/sailec\ Light.woff') format('woff');
}

@font-face {
  font-family: 'saelic-bold';
  src: url('../fonts/sailec\ Bold.woff2') format('woff2'),
    url('../fonts/sailec\ Bold.woff') format('woff');
}

:root {
  --blue: hsl(205, 100%, 45%);
  --black: hsl(0, 0%, 18%);
  --faded-black: hsla(0, 0%, 18%, 0.268);
  --white: hsl(0, 0%, 100%);
  --kaki--light: hsla(33, 41%, 57%, 0.431);
  --kaki: hsl(33, 41%, 57%);
  --kaki--hover: hsl(33, 42%, 80%);
  --red: hsl(5, 80%, 58%);
  --yellow: hsl(36, 89%, 48%);
  --hover--edit: hsl(36, 100%, 33%);
  --border_color: hsla(0, 0%, 0%, 0.094);
  --main_color: hsl(0, 0%, 85%);
  --hover_color--blue: hsl(220, 100%, 39%);
  --hover_color--red: hsl(5, 56%, 51%);
  --grey--light: hsl(0, 0%, 67%);
  --overlay-background: hsla(0, 0%, 0%, 0.838);
  --overlay-text: #eee;
  --grey--dark: hsl(0, 0%, 32%);
  --green: hsl(122, 100%, 50%);
  --save--hover: hsl(122, 100%, 30%);

  --font-size--h1: 32px;
  --font-size--h2: 24px;

  --font-size--XXL: 64px;
  --font-size--XL: 32px;
  --font-size--large: 24px;
  --font-size--medium: 18px;
  --font-size--light: 10px;

  --spacing--large: 3rem;
  --spacing--medium: 2rem;
  --spacing--small: 1rem;

  --gap--small: 1rem;
}

body {
  font-family: 'saelic-light';
  max-width: 100rem;
  margin: auto;
}

h1,
h2 {
  font-family: 'saelic-bold';
}

/* header */

header {
  border-bottom: 3px solid var(--border_color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 3rem;
}

button:hover {
  cursor: pointer;
}

.homelogo {
  width: 15rem;
}

.button--logout {
  padding: 1rem 2rem;
  color: var(--white);
  background-color: var(--red);
  border-radius: 10px;
  font-size: var(--font-size--large);
  border: none;
}

.button--logout:hover,
.button--delete:hover {
  background-color: var(--hover_color--red);
}

/* sidepanel */

.sidepanel {
  background-color: var(--kaki--light);
  border-radius: 10px;
  width: 30%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 20rem;
  margin: 5rem 3rem;
}

.sidepanel h1,
.panel--right h1 {
  font-size: var(--font-size--XL);
}

.sidepanel ul {
  list-style-type: none;
  margin-top: var(--spacing--large);
  padding-left: 0;
}

.sidepanel ul li {
  gap: var(--gap--small);
  margin: var(--spacing--small) 0;
  font-size: var(--font-size--large);
  border-bottom: 2px solid var(--kaki);
  padding-bottom: 1rem;
  margin-right: 6rem;
  padding-top: 0.5rem;
  background: linear-gradient(
    to right,
    var(--kaki) 50%,
    var(--kaki--hover) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.sidepanel ul li a {
  text-decoration: none;
  color: (var(--black));
  display: flex;
  align-items: center;
  gap: var(--gap--small);
}

.sidepanel ul li:hover {
  background-position: left bottom;
}

.sidepanel ul li:last-child {
  border-bottom: none;
}

.list__icon {
  width: 2rem;
}

/* planner */

.box {
  display: flex;
}

.box ul {
  list-style: none;
  padding: 0;
}

.box .planner-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 3rem;
  margin-top: 0;
  gap: 0.5rem;
}

@media (max-width: 930px) {
  .box .planner-list {
    margin-right: 0rem;
    margin-left: 1rem;
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.planner-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  max-width: 28.5rem;
  border-radius: 10px;
  flex-wrap: wrap;
  border: none;
}

.planner-list__title {
  width: 9.5rem;
}

.canvas {
  position: relative;
  height: fit-content;
}

.canvas::after {
  content: '🗑️';
  font-size: 1.5rem;
  display: block;
  position: absolute;
  top: 0;
  right: -1rem;
  height: 100%;
  width: 2rem;
  background-color: hsla(0, 100%, 50%, 0.497);
  z-index: 1;
}

.rotate-check {
  width: fit-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 930px) {
  .rotate-check {
    margin-left: 0;
    flex-direction: column;
  }
}

@media (max-width: 80.3125rem) {
  .planner-list li {
    flex-direction: column;
    align-items: flex-start;
  }
}

.planner-add {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.planner-add .button--add {
  font-size: 1rem;
  border-radius: 11px;
}

.no-print {
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}

.no-print:hover {
  background-color: var(--save--hover);
  transition: all 0.5s ease-in-out;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-top: 1rem; */
  padding-left: 1rem;
  width: 29.375rem;
}

/* .legend-canvas {
  height: fit-content;
} */

.hidden {
  display: none;
}

/* main container user */

.main__container--flex {
  display: flex;
  width: 100%;
}

.panel--right {
  background-color: var(--kaki--light);
  border-radius: 10px;
  margin-top: 5rem;
  width: 60%;
}

.panel--right h1 {
  padding-top: 2rem;
  padding-left: 5rem;
  margin-bottom: 5rem;
}

.configuration__item a,
.optreden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: 80%;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 1rem;
  padding-left: 2rem;
  text-decoration: none;
}

.configuration__item a p,
.optreden p {
  padding-right: 5rem;
  font-size: var(--font-size--large);
}

.configuration__item a time,
.optreden time {
  font-size: var(--font-size--medium);
}

.image--concert {
  width: 10rem;
  height: 6rem;
  transform: translateX(-4rem);
  border-radius: 30px 0 0 30px;
}

.btn--primary {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 3rem;
  border-radius: 30px;
}

/* login page */

.container--login {
  width: 50%;
  margin: auto;
}

.container__fields {
  background-color: var(--kaki--light);
}

.button--login,
.button--submit {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
}

.button--add:hover,
.button--contact:hover,
.button--login:hover,
.button--submit:hover,
.button--view:hover {
  background-color: var(--hover_color--blue);
  transition: all 0.5s ease-in-out;
}

/* inventory */

.button--back {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 4rem;
  margin-bottom: 5rem;
}

.image--back {
  width: 2rem;
}

.container--inventory,
.main--inventory {
  background-color: var(--main_color);
  height: 100%;
}

.container--inventory h1 {
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.inventory__filter {
  margin: 0rem 4rem;
}

.inventory__filter,
.inventory__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pills {
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.pills li {
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 0.5rem;
  border-radius: 20px;
}

.button--add,
.button--contact {
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size--large);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.searchbar {
  padding: 0.5rem;
  border-radius: 2rem;
}

.inventory__search {
  gap: 1rem;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 4rem;
  gap: 1rem;
}

.inventory_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 0.5rem;
  background-color: var(--kaki--light);
  border-radius: 20px;
  padding-right: 1rem;
  height: 5rem;
  width: 30%;
}

.item__image {
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.button--edit {
  background-color: var(--yellow);
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  color: var(--white);
  position: absolute;
  top: 25%;
  right: 20%;
}

.button--edit:hover {
  background-color: var(--hover--edit);
}

.button--delete {
  background-color: var(--red);
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--white);
  border: none;
}

.infobox--size {
  position: absolute;
  bottom: 0;
  left: 35%;
  opacity: 0;
  padding: 0.2rem;
  background-color: var(--white);
  border-radius: 10px;
}

.inventory_item:hover .infobox--size {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.inventory__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--faded-black);
}

/* footer */

footer {
  border-top: 3px solid var(--border_color);
  margin-top: var(--spacing--large);
}

footer h2 {
  margin-left: 1.5rem;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main_color);
  padding: 3rem 0;
}

.socialmedia--icon {
  width: 3rem;
}

.footer__reference {
  background-color: var(--grey--light);
  text-align: center;
  margin: 0;
}

.contact__container h2 {
  margin-bottom: 2rem;
}

.socials {
  display: flex;
}

/* overlay */

.overlay-form {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--overlay-background);
  z-index: -1;
  opacity: 0;
  padding: 5rem 6.25rem;
  overflow: hidden;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out,
    height 0ms ease-in-out 500ms;
}

.overlay-form .close-btn {
  position: absolute;
  top: 1.25rem;
  right: 2.5rem;
  color: var(--white);
  font-size: var(--font-size--h1);
  cursor: pointer;
}

.overlay-form h1 {
  font-size: var(--font-size--h1);
  color: var(--white);
  margin-bottom: 2rem;
}

.overlay-form p {
  color: var(--overlay-text);
  margin: -15px 0px 30px;
}

.overlay-form .form-element {
  margin: 1.25rem 0px;
}

.overlay-form label {
  display: block;
  font-size: var(--font-size--large);
  color: var(--white);
  margin-bottom: 0.5rem;
}

.overlay-form input {
  width: 100%;
  padding: 0.5rem;
  font-size: var(--font-size--large);
  border: 2px solid var(--white);
  background: transparent;
  outline: none;
  border-radius: 10px;
  color: var(--white);
}

.activateForm .overlay-form,
.eventForm .overlay-form {
  z-index: 2;
  opacity: 1;
  top: 0;
  height: 100vh;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out,
    height 0ms ease-in-out 0ms;
}

.input--password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activateForm .btn--clear,
.activateForm .btn--register,
.eventForm .btn--clear,
.eventForm .btn--register {
  width: 20%;
  margin-top: 1rem;
}

.activateForm .btn--clear,
.eventForm .btn--clear {
  background-color: var(--red);
}

/* login */

.container-login {
  width: 40%;
  margin: auto;
}

.container-login img {
  display: block;
  margin: auto;
  width: 40%;
}

.login--detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--kaki--light);
  margin-top: 2rem;
  padding: 2rem;
}

.login--detail h2 {
  font-size: var(--font-size--XL);
  margin-bottom: 2rem;
}

.login--form {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  font-family: 'saelic-light';
  font-size: var(--font-size--medium);
  margin-bottom: 1rem;
}

.input label {
  margin-bottom: 0.5rem;
}

#toggleview .input input {
  width: 80%;
  padding: 0.5rem;
  border: none;
  background-color: var(--grey--dark);
}
