{{> header}}

<main class="main--inventory">

    <article class="container--inventory">
        <div class="button--back">
            <a href="/"><img class="image--back" src="images/back-button.png" alt="" /></a>
            <h2>Ga naar home</h2>
        </div>


        <section class="inventory__filter">
            <ul class="pills">
                <li>stoelen</li>
                <li>instrumenten</li>
                <li>pupiters</li>
                <li>podiumelementen</li>
            </ul>
            <div class="inventory__search">
                <form action="/postItem" method="post" id="inventory-form">
                    <input class="searchbar" placeholder="Naam" type="text" name="name" id="search" />
                    <input class="searchbar" placeholder="Aantal" type="text" name="count" id="amount" />
                    <input class="searchbar" placeholder="Breedte" type="text" name="width" id="width" />
                    <input class="searchbar" placeholder="Lengte" type="text" name="length" id="length" />
                    <button class="button--add">Add+</button>
                </form>
            </div>
        </section>
        {{> inventory--admin}}


    </article>

</main>

{{> footer}}